SUPABASE_URL=https://wljikubwvxvdqnqqtarb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsamlrdWJ3dnh2ZHFucXF0YXJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzOTg3MjUsImV4cCI6MjA5Njk3NDcyNX0.5QnpFFwC8l-eI892uCha29og41RkrZaXqX-PpCJlZt8
NCBI_EMAIL=illaricubillas146@gmail.com
